*{
    margin: 0;
}

body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    background: #000;

    /* background-image: url(гусь.jpg); */
}

interface{
    position: absolute;
    display: flex;
    flex-direction: column;

    width: 100vw;
    height: 100vh;
}

/* Don't forget to add media selectors for phones etc */
interface > * {
    width: 100vw;
    /* height: 50vh; */

    background-color: rgba(0, 0, 0, 0.5);
}
interface content{
    flex: 100;
}
interface player{
    border-top: 1px inset gray;
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex: 10; */
    height: 50pt;
    background: rgba(24, 24, 24, 0.815);
}

switch-song.prev{
    transform: rotate(180deg);
}