/* body {
    display: flex;
    align-items: center;
    min-height: 100vh;
    justify-content: center;
} */

play-pause {
    display: flex;
    justify-content: center;
    align-items: center;
    --size: 80%;
    /* height: var(--size); */
    width: max-content;
}

play-pause svg {
    display: block;
    height: 95%;
    width: 95%;
    fill: var(--button-color);
    stroke: var(--button-color);
    stroke-width: 4;
    stroke-linejoin: round;
}