/* body {
    display: flex;
    align-items: center;
    min-height: 100vh;
    justify-content: center;
} */

play-pause {
    --size: 80%;
    /* height: var(--size); */
    width: max-content;
}

play-pause svg {
    display: block;
    height: 100%;
    width: 100%;
    fill: black;
    stroke: black;
    stroke-width: 4;
    stroke-linejoin: round;
}