/* body {
    display: flex;
    align-items: center;
    min-height: 100vh;
    justify-content: center;
} */

play-pause {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: var(--size); */
    /* width: max-content; */
    
    transition: .3s;
}

play-pause svg {
    display: block;
    height: 80%;
    width: 80%;
    fill: var(--button-color);
    stroke: var(--button-color);
    stroke-width: 5;
    stroke-linejoin: round;

    transition: .3s;
}
