
body {
    display: flex;
    align-items: center;
    min-height: 100vh;
    justify-content: center;
    background: #333;
}

switch-song {
    --button-color: white;
    --button-hovered-color: rgb(197, 197, 197);
    --button-color-border: rgb(128, 128, 128);
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: var(--size); */
    /* width: max-content; */
    
    transition: .3s;
}

switch-song svg {
    display: block;
    height: 50%;
    width: 50%;
    fill: var(--button-color);
    stroke: var(--button-color);
    stroke-width: 5;
    stroke-linejoin: round;

    transform: scale(1.7);
    overflow: visible;

    transition: .3s;
}


switch-song{
    height: 25pt;
    width: 25pt;
    /* border: 4px inset var(--button-color-border); */
    border-radius: 50%;
    padding: 7px;

    overflow: hidden;
}
switch-song:hover{
    /* transform: rotate(180deg); */
    /* border: 4px inset var(--button-color); */

    /* transform: rotate(15deg); */
}
switch-song:hover > svg{
    /* transform: scale(2); */
    fill: var(--button-hovered-color);
    stroke: var(--button-hovered-color);

    /* animation: hover-glow 3s infinite; */
}
